html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: "Open Sans", "Verdana", "Sans-Serif";
	font-size: 72px;
}

.text {
	margin: 0;
	width: 50%;
}

.text-head {
	font-size: 1rem;
	font-weight: 300;
	padding-left: 10%;
	padding-top: 10%;
}

.text-body {
	font-size: .25rem;
	padding-left: 12%;
	width: 50%;
	line-height: 200%;
}

.shell {
	width: 100%;
	height: 100%;
	/*background-color: #000;*/
	outline: none;

	position: absolute;
	top: 0;
	left: 0;
}

.content {
	font-family: "VT323", "Monospaced";
	font-size: 24px;
	margin: 20px;
	background-color: #000;
	color: #fff;
	height: auto;
	position: static;
}

#content-container {
	overflow: scroll;
	height: 100%;
	font-size: .33rem;
}

#content {
	margin-top: 0;
	margin-bottom: 0;
}

#content:before {
	content: "Hello!"
}

#input {
	display: inline;
	margin-top: 0;
	margin-left: -20px;
	font-size: .33rem;
}

#overlay {
	background-image: -webkit-repeating-linear-gradient(top, rgba(128, 128, 128, .4) 0px, rgba(128, 128, 128, .4) 1px, rgba(128, 128, 128, 0) 1px, rgba(128, 128, 128, 0) 3px);
	background-image: -moz-repeating-linear-gradient(top, rgba(128, 128, 128, .4) 0px, rgba(128, 128, 128, .4) 1px, rgba(128, 128, 128, 0) 1px, rgba(128, 128, 128, 0) 3px);
	
	-webkit-animation-name: flicker;
	-webkit-animation-duration: .1s;
	-webkit-animation-iteration-count: infinite;

	-moz-animation-name: flicker;
	-moz-animation-duration: .1s;
	-moz-animation-iteration-count: infinite;

	z-index: 1;
}

#shell {
	position: relative;
	background-color: #000;
}

#banner {
	height: auto;
	top: 25%;
	z-index: 100;
	background-color: #fff;
	opacity: .9;
	text-align: center;
	vertical-align: middle;
	font-size: 72px;
	font-weight: 300;
}

#banner-text {
	vertical-align: middle;
	font-size: 1em;
	display: inline;
	margin: 0;
}	

#nav {
	margin: 0;
	padding: 0;
	list-style: none;
	position: relative;
}

.nav-item {
	font-size: .4em;
	display: inline-block;	
	color: #3498db;
}

a {
	text-decoration: none;	
	color: #8e44ad;
}

.section {
	height: 100%;
	position: relative;
	background-repeat: no-repeat;
	background-position: right bottom;
}


#about {
	background-image: url("img/desk.svg");
	background-color: #2ecc71;
	background-size: 50%;
}

/*.night {
	background-image: url("img/desknight.svg") !important;
	background-color: #304669 !important;
}*/

#projects {
	background-color: #e74c3c;
}

#contact {
	background-color: #f1c40f;
	background-image: url("img/contact.svg");
	background-size: 40%;
}

.project-frame {
	height: 50%;
	width: 80vw;
	position: absolute;
	margin-top: 10vh;
/*	bottom: 5vh;
*/	right: 10vw;
	background-color: #e74c3c;
	overflow: scroll;
	display: flex;
}

.project-card {
	position: relative;
	display: inline-block;
	width: calc(80vw / 4);
	height: calc(80vw / 4);
	background-color: #fff;
	color: #000;
	margin-right: calc(80vw / 16);
	margin-bottom: calc(80vw / 16);
	box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.project-card:nth-child(3n + 1) {
	margin-left: calc(80vw / 18);
}

/*.project-card:hover {
	box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}*/

.project-card-title {
	font-size: 36px;
	font-weight: 300;
	text-align: center;
	margin-left: 10px;

}

.project-card-description {
	font-size: 16px;
	z-index: 4;
	width: 80%;
	height: 80%;
	opacity: 0;
	padding: 10%;
 	transition: all 0.2s ease-in-out;
 	position: absolute;
 	background-color: #fff;
 	overflow: scroll;
}

.project-card-description:hover {
	opacity: 1;
}

.project-card-thumb {
	z-index: 3;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	margin: 0 auto;
}


@media (max-width: 900px) {
	#input, #overlay {
		pointer-events: none;
	}

	#content:before {
		content: "Check this out on a desktop for more cool things.";
	}
	.section {
		background-size: 100% !important;
		color: #fff;
		background-position: bottom;
	}
	#about {
		background-image: linear-gradient(
						      rgba(0, 0, 0, 0.5),
						      rgba(0, 0, 0, 0.5)
						    ), url("img/desk.svg");
	}

	.night {
		background-image: linear-gradient(
						      rgba(0, 0, 0, 0.5),
						      rgba(0, 0, 0, 0.5)
						    ), url("img/desknight.svg") !important;
		background-color: #304669 !important;

	}

	#contact {
		background-image: linear-gradient(
						      rgba(0, 0, 0, 0.5),
						      rgba(0, 0, 0, 0.5)
						    ), url("img/contact.svg");
	}
	.text-body {
		width: 80vw;
	}
	.text-body > a {
		color: #3498db;
	}
	.project-card-description {
		z-index: 4;
		width: 80%;
		height: 80%;
		opacity: 0.5;
		padding: 10%;
	 	transition: all 0.2s ease-in-out;
	 	position: absolute;
	 	color: #fff;
	 	background-color: #000;
	 	overflow: scroll;
	}
}

@media (max-height: 500px) {
	.text-head {
		padding-top: 0;
	}
	.section {
		height: 150vh;
	}
	.shell {
		height: 200vh;
	}
}

@media (max-width: 640px) {
	html {
		font-size: 64px;
	}
	.text-head {
		width: 90%;
	}

	.project-frame {
		display: table-row;
		font-size: 0px;
	}
	.project-card {
		width: calc(80vw / 3);
		height: calc(80vw / 3);
		margin-right: calc(80vw / 9);
		margin-bottom: calc(80vw / 9);
	}

	.project-card:nth-child(2n + 1) {
		margin-left: calc(80vw / 9);
	}
}


@keyframes flicker {
	0% { opacity: 0.9165331272175535;}
	5% { opacity: 0.9114148542983458;}
	10% { opacity: 0.991293118451722;}
	15% { opacity: 0.9944578355643898;}
	20% { opacity: 0.975484094512649;}
	25% { opacity: 0.9971621884265915;}
	30% { opacity: 0.9491965435445309;}
	35% { opacity: 0.9281189439352602;}
	40% { opacity: 0.9972395206568763;}
	45% { opacity: 0.9117460511624813;}
	50% { opacity: 0.9835116161266342;}
	55% { opacity: 0.9129176390590147;}
	60% { opacity: 0.9086423080181704;}
	65% { opacity: 0.901726147113368;}
	70% { opacity: 0.9179937062552199;}
	75% { opacity: 0.9172231858363376;}
	80% { opacity: 0.9283428653841839;}
	85% { opacity: 0.9051354720257223;}
	90% { opacity: 0.9843206780264154;}
	95% { opacity: 0.9922444827854634;}
	100% { opacity: 0.9817510534776375;}
}

@-webkit-keyframes flicker {
	0% { opacity: 0.9165331272175535;}
	5% { opacity: 0.9114148542983458;}
	10% { opacity: 0.991293118451722;}
	15% { opacity: 0.9944578355643898;}
	20% { opacity: 0.975484094512649;}
	25% { opacity: 0.9971621884265915;}
	30% { opacity: 0.9491965435445309;}
	35% { opacity: 0.9281189439352602;}
	40% { opacity: 0.9972395206568763;}
	45% { opacity: 0.9117460511624813;}
	50% { opacity: 0.9835116161266342;}
	55% { opacity: 0.9129176390590147;}
	60% { opacity: 0.9086423080181704;}
	65% { opacity: 0.901726147113368;}
	70% { opacity: 0.9179937062552199;}
	75% { opacity: 0.9172231858363376;}
	80% { opacity: 0.9283428653841839;}
	85% { opacity: 0.9051354720257223;}
	90% { opacity: 0.9843206780264154;}
	95% { opacity: 0.9922444827854634;}
	100% { opacity: 0.9817510534776375;}
